/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 */

 /* 36 KEY MATRIX
  ╭─────────────────────╮ ╭─────────────────────╮
  │  0   1   2   3   4  │ │   5   6   7   8   9 │
  │ 10  11  12  13  14  │ │  15  16  17  18  19 │
  │ 20  21  22  23  24  │ │  25  26  27  28  29 │
  ╰──────╮  30  31  32  │ │  33  34  35 ╭───────╯
         ╰──────────────╯ ╰─────────────╯ 
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define KEYS_L  0  1  2  3  4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R  5  6  7  8  9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33 34 35

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <150>;
};

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        hml: home-row-mods-left {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            // rigth hand and thumbs
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            // delay positional check until key-release
            hold-trigger-on-release;
        };

        hmr: home-row-mods-right {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            // left hand and thumbs
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            // delay positional check until key-release
            hold-trigger-on-release;
        };
    };

    macros {
        small_arrow: small_arrow {
            compatible = "zmk,behavior-macro";
            label = "small_arrow";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            wait-ms = <10>;
        };

        big_arrow: big_arrow {
            compatible = "zmk,behavior-macro";
            label = "big_arrow";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GREATER_THAN>;
            wait-ms = <10>;
        };

        double_colon: double_colon {
            compatible = "zmk,behavior-macro";
            label = "double_colon";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
            wait-ms = <10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "colemak";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
                    &kp Q         &kp W         &kp F         &kp P         &kp B           &kp J         &kp L         &kp U         &kp Y         &kp SQT
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &hml LSHFT A  &hml LCTRL R  &hml LALT S   &hml LGUI T   &kp G           &kp M         &hmr RGUI N   &hmr RALT E   &hmr RCTRL I  &hmr RSHFT O
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp Z         &kp X         &kp C         &kp D         &kp V           &kp K         &kp H         &kp COMMA     &kp DOT       &kp SLASH
                // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &kp ESC       &lt 1 SPACE   &kp TAB         &kp RET       &mo 2         &kp BSPC 
                //                             ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        EXT {
            display-name = "left";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
                    &kp EXCL      &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT     &kp CARET      &kp AMPS     &kp ASTERISK  &kp TILDE     &kp GRAVE
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp ESC       &sk LCTRL     &sk LALT      &sk LGUI      &kp LSHIFT      &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp BSPC 
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp LC(Z)     &kp LC(X)     &kp LC(C)     &none         &kp LC(V)       &double_colon &small_arrow  &big_arrow    &none         &none
                // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &trans        &trans        &none           &none         &mo 3         &none
                //                             ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym {
            display-name = "right";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
                    &kp EXCL      &kp AT        &kp HASH      &kp COLON     &kp SEMICOLON   &kp EQUAL     &kp N7        &kp N8        &kp N9        &kp PLUS
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp BSLH      &kp PIPE      &kp LBRC      &kp LPAR      &kp LBKT        &kp ASTERISK  &kp N4        &kp N5        &kp N6        &kp MINUS
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp MINUS     &kp UNDER     &kp RBRC      &kp RPAR      &kp RBKT        &kp N0        &kp N1        &kp N2        &kp N3        &kp FSLH
                // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &none         &mo 3         &none           &kp ENTER     &trans        &none
                //                             ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        Sym2 {
            display-name = "both";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans        &kp F7        &kp F8        &kp F9        &kp GRAVE
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &bt BT_CLR    &kp K_PREV    &kp C_PREV    &kp C_PLAY    &kp C_NEXT      &trans        &kp F4        &kp F5        &kp F6        &kp TILDE
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP    &trans        &kp F1        &kp F2        &kp F3        &kp QUESTION
                // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &none         &none         &trans          &none         &trans        &trans
                //                             ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
